.content {

	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.info {

	display: flex;
	flex-direction: column;

}

.info .title {

	font-size: 1.5rem;
	font-weight: 600;

}

.info .description {

	font-size: 1.2rem;
	font-weight: 400;

}

.bank-payment-method {

	width: 100%;
	height: 7.4rem;
	border-radius: 1rem;
	border: 0.1rem solid #CCCCCC;
	padding: 1.5rem 2rem;
	margin-bottom: 2.0rem;
	background-color: #FFF;
	cursor: pointer;
	display: flex;
	align-items: center;

}

.bank-payment-method .bank-name {

	font-weight: 700;
	font-size: 1.2rem;
}

.bank-payment-method .info {

	display: flex;
	flex-direction: row;
	font-weight: 400;
	font-size: 1.2rem;

}

.radio {

	margin-right: 2rem;
	
}

.bank-payment-method .info .agency {

	margin-right: 0.5rem;

}

.bank-payment-method.already-selected {

	opacity: 0.5;
	cursor: not-allowed;

}

.acception-term {

	display: flex;
	align-items: center;
	margin-bottom: 2rem;

}

.acception-term .chkbox {

	margin-right: 1rem;

}

.acception-term .message {

	font-weight: 500;
	font-size: 1.4rem;
}

.acception-term .message #contract {

	text-decoration: underline;
	font-weight: 500;
	cursor: pointer;

}